<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Comment</h1>
    <div class="buttons">
      <button class="button button-clear button-dark" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="commentForm" name="commentForm" ng-submit="submitComment()">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Rating</span>
            <select ng-model="userComment.rating">
                <option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
            </select>
        </label>
        <label class="item item-input" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
          <span class="input-label">Name</span>
          <input type="text" ng-model="userComment.author" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Comment</span>
           <textarea ng-model="userComment.comment"
            name="userComment.comment" ng-required="true"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Comment</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
